# Created by venv; see https://docs.python.org/3/library/venv.html
venv
*__pycache__
.env


venv/
**/*__pycache__
**/*__pycache__

**/venv/
**/*pycache
**/*_cache
# OS Environment
**/.DS_Store temp/
.DS_Store
# IDE config
**/vscode/


venv
**/.pycache
**/__pycache__
.pytest_cache
.env
.coverage
**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
serverless-output.yaml
**/results.xml
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*pycache
*coverage*
venv/
**/.terraform
**/.terraform*
**/function.zip
**/*.tfstate*
modules/
packages/.terraform/
modules_transform/
packages/
packages
awslambda-psycopg2
.terraform
.terraform/
venv/
*.pyc
__pycache__/

